[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
click = ">=6"
pyzmq = ">=16"
PyYAML = ">=4.2b1"
colorful = ">=0.5,<1"
requests-futures = ">=0.9,<1"

[dev-packages]
flake8 = ">=3.7,<4"
sphinx-click = "<3,>=2"
Sphinx = "<2,>=1.8"
sphinx-rtd-theme = ">=0.4,<1"
